body{
  background:#c9ccee30;
}
#subexplain{
  color: #001b807d;
  font-size: 10px;
  display: inline-block;
  width:40%;
}

#title{
  color:#ff00008c;
  font-size: 30px;
  font-weight: bold;
}

.color{
  color:blue;
}

@media only screen and (max-width: 600px) and (min-width: 200px) {
  body{
    font-style: italic;
    font-size: 60px;
  }
}
